// colors
$color-brand: #6383BE;
$color-main: #333333;
$color-extra: #666666;

// grid
$breakpoint-mobile: 600px; // mobile
$breakpoint-sm: 900px; // mobile
$breakpoint-md: 1200px; // tablet
$breakpoint-lg: 1600px;
$breakpoint-xl: 1700px;
