.contacts {
  // padding-bottom: 100px;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 224px;
    margin-right: 50px;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 283px;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      max-width: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__map {
    width: 560px;
    height: 479px;
    margin-right: 40px;

    & iframe {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    @media (max-width: $breakpoint-md) {
      margin-right: 0;
    }

    @media (max-width: $breakpoint-mobile) {
      order: 2;
      width: 100%;
      height: 300px;
    }
  }

  &__content {
    @media (max-width: $breakpoint-md) {
      width: 560px;
    }

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__list {
    display: flex;

    @media (max-width: $breakpoint-mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    padding-left: 36px;

    &--email {
      @media (min-width: $breakpoint-mobile) {
        width: 245px;
      }
    }

    &--line {
      position: relative;
      padding-bottom: 18px;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: url("data:image/svg+xml,%3Csvg width='226' height='2' viewBox='0 0 226 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M225 2H226V0H225V2ZM1 0H0V2H1V0ZM1 2H2V0H1V2ZM8 2H10V0H8V2ZM16 2H18V0H16V2ZM24 2H26V0H24V2ZM32 2H34V0H32V2ZM40 2H42V0H40V2ZM48 2H50V0H48V2ZM56 2H58V0H56V2ZM64 2H66V0H64V2ZM72 2H74V0H72V2ZM80 2H82V0H80V2ZM88 2H90V0H88V2ZM96 2H98V0H96V2ZM104 2H106V0H104V2ZM112 2H114V0H112V2ZM120 2H122V0H120V2ZM128 2H130V0H128V2ZM136 2H138V0H136V2ZM144 2H146V0H144V2ZM152 2H154V0H152V2ZM160 2H162V0H160V2ZM168 2H170V0H168V2ZM176 2H178V0H176V2ZM184 2H186V0H184V2ZM192 2H194V0H192V2ZM200 2H202V0H200V2ZM208 2H210V0H208V2ZM216 2H218V0H216V2ZM224 2H225V0H224V2Z' fill='%23D5E5D6'/%3E%3C/svg%3E ");
        content: '';
      }

      @media (max-width: $breakpoint-mobile) {
        padding-bottom: 12px;
      }
    }


    &--mobile {
      @media (max-width: $breakpoint-mobile) {
        position: relative;
        padding-bottom: 20px;

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-image: url("data:image/svg+xml,%3Csvg width='226' height='2' viewBox='0 0 226 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M225 2H226V0H225V2ZM1 0H0V2H1V0ZM1 2H2V0H1V2ZM8 2H10V0H8V2ZM16 2H18V0H16V2ZM24 2H26V0H24V2ZM32 2H34V0H32V2ZM40 2H42V0H40V2ZM48 2H50V0H48V2ZM56 2H58V0H56V2ZM64 2H66V0H64V2ZM72 2H74V0H72V2ZM80 2H82V0H80V2ZM88 2H90V0H88V2ZM96 2H98V0H96V2ZM104 2H106V0H104V2ZM112 2H114V0H112V2ZM120 2H122V0H120V2ZM128 2H130V0H128V2ZM136 2H138V0H136V2ZM144 2H146V0H144V2ZM152 2H154V0H152V2ZM160 2H162V0H160V2ZM168 2H170V0H168V2ZM176 2H178V0H176V2ZM184 2H186V0H184V2ZM192 2H194V0H192V2ZM200 2H202V0H200V2ZM208 2H210V0H208V2ZM216 2H218V0H216V2ZM224 2H225V0H224V2Z' fill='%23D5E5D6'/%3E%3C/svg%3E ");
          content: '';
        }
      }
    }
  }

  &__title {
    margin-bottom: 25px;
    padding-left: 36px;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      padding: 0;
      text-align: center;
    }
  }

  &__extra {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__name {
    position: relative;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    &::before {
      position: absolute;
      top: 50%;
      left: -38.5px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      content: '';
    }

    &--time {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6V12L16 14' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
      }
    }

    &--address {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
      }
    }

    &--phone {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1814 17.0947V20.1664C22.1825 20.4515 22.1241 20.7338 22.0099 20.995C21.8956 21.2563 21.7281 21.4908 21.518 21.6836C21.3078 21.8764 21.0598 22.0231 20.7897 22.1145C20.5195 22.2058 20.2333 22.2398 19.9493 22.2141C16.7987 21.8718 13.7723 20.7952 11.1132 19.0708C8.63938 17.4988 6.54197 15.4014 4.96998 12.9275C3.2396 10.2564 2.16275 7.21531 1.82667 4.05051C1.80108 3.76738 1.83473 3.48201 1.92547 3.2126C2.01622 2.94318 2.16206 2.6956 2.35373 2.48564C2.54539 2.27567 2.77868 2.10792 3.03873 1.99305C3.29878 1.87819 3.5799 1.81873 3.86419 1.81846H6.93582C7.43272 1.81357 7.91444 1.98953 8.29119 2.31354C8.66795 2.63755 8.91403 3.0875 8.98358 3.57953C9.11322 4.56252 9.35366 5.52769 9.70029 6.45663C9.83805 6.8231 9.86786 7.22138 9.7862 7.60427C9.70454 7.98717 9.51483 8.33863 9.23955 8.61701L7.93922 9.91733C9.39677 12.4807 11.5192 14.6031 14.0825 16.0606L15.3828 14.7603C15.6612 14.485 16.0127 14.2953 16.3956 14.2136C16.7784 14.132 17.1767 14.1618 17.5432 14.2995C18.4721 14.6462 19.4373 14.8866 20.4203 15.0162C20.9177 15.0864 21.3719 15.3369 21.6966 15.7202C22.0213 16.1034 22.1938 16.5926 22.1814 17.0947Z' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
      }
    }

    &--email {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 6L12 13L2 6' stroke='%236383BE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__descr {
    position: relative;
    margin: 0;
    margin-bottom: 8px;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-decoration: none;

    &--spacing {
      letter-spacing: 0.4px;
    }

    &--margin {
      margin-bottom: 16px;
    }

    &::before {
      position: absolute;
      top: 4px;
      left: -36px;
      width: 20px;
      height: 20px;
      content: '';
    }

    &--russia {
      margin-bottom: 14px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_530' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23B97E7E'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_530)'%3E%3Crect width='20' height='6.66667' fill='%23F3F3F3'/%3E%3Crect y='6.66699' width='20' height='6.66667' fill='%230039A6'/%3E%3Crect y='13.333' width='20' height='6.66667' fill='%23D52B1E'/%3E%3C/g%3E%3C/svg%3E ");
      }
    }

    &--china {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23DA2D09'/%3E%3Cg clip-path='url(%23clip0_2_517)'%3E%3Cpath d='M5.78233 5.32715L6.6799 8.01953L9.56456 8.02602L7.23468 9.69645L8.11986 12.3928L5.78233 10.7328L3.4447 12.3928L4.32988 9.69645L2 8.02602L4.88466 8.01953L5.78233 5.32715Z' fill='%23FFCE00'/%3E%3Cpath d='M13.2542 4L13.1999 4.88424L14.0379 5.21198L13.1648 5.43446L13.1065 6.31851L12.6212 5.57177L11.7471 5.79039L12.3202 5.10642L11.8383 4.35745L12.6779 4.68144L13.2542 4Z' fill='%23FFCE00'/%3E%3Cpath d='M16.464 7.09743L16.0301 7.87408L16.645 8.52216L15.7588 8.35677L15.3212 9.13139L15.2077 8.25262L14.3223 8.08328L15.1382 7.70555L15.0285 6.82617L15.6465 7.47151L16.464 7.09743Z' fill='%23FFCE00'/%3E%3Cpath d='M15.4853 10.8535L15.7642 11.696L16.6662 11.6998L15.9366 12.2206L16.2116 13.0643L15.4818 12.5438L14.7497 13.0614L15.0283 12.2188L14.3008 11.6951L15.2028 11.6949L15.4853 10.8535Z' fill='%23FFCE00'/%3E%3Cpath d='M13.2583 13.6807L13.213 14.5654L14.0544 14.8848L13.1836 15.1159L13.1342 16.0005L12.6413 15.2586L11.7695 15.4859L12.3357 14.7962L11.8462 14.0521L12.689 14.3678L13.2583 13.6807Z' fill='%23FFCE00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_517'%3E%3Crect width='14.6667' height='12' fill='white' transform='translate(2 4)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
      }
    }
  }

  &__social {
    gap: 20px;
    margin-top: 20px;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 8px;
    }
  }
}
